<div class="prose max-w-3xl mx-auto mt-10">
  <h1 class="text-3xl font-bold">Lorem Ipsum</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
  <p>
    Vivamus fermentum, magna sed tincidunt posuere, enim erat faucibus augue, nec interdum erat eros eu erat.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tincidunt lorem.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</div>